.genre-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    
    /* Adjust border color as needed */
  }

  .genre-page h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

.genre-name {
    padding-top: 10px;
    text-align: center;
    font-size: 45px;
  }