/* src/Login.css */

.login-container {
  position: fixed; /* Fixed position */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left of the viewport */
  display: flex;
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
  box-sizing: border-box;
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Fixed width for the left section */
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase the width here */
  max-width: 100%; /* Ensure form doesn't exceed 400px width on smaller screens */
  font-family: 'Inter', sans-serif;
}

.login-form h1 {
  margin-bottom: 10px;
}

.login-form p {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #000000; /* Change background color on hover */
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Half of the page width */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Ensure image doesn't overflow */
}

.login-image img {
  width: 100%; /* Ensure image fills the entire width of its container */
  height: 100%; /* Ensure image fills the height of the .login-image container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.remember-me input[type="checkbox"] {
  margin-right: 10px; /* Adjust spacing between checkbox and label */
  width: 20px; /* Set desired width */
  height: 20px;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center; /* Center items vertically */
  }

  .login-form-container,
  .login-image {
    width: 100%; /* Full width on smaller screens */
  }
}
