.bookstore {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px;
  /* Adjust border color as needed */
}

.genre {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  min-height: 300px;
  flex-direction: column;
  /* Stack elements vertically */
}


.genre>div:first-child {
  display: flex;
  justify-content: space-between;

}


.genre h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.genre a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  /* Removed margin-top for better positioning */
  margin-top: -5px;


}

.books-container {
  display: flex;
  gap: 20px;
  /* Adjust width to fit 4 books side-by-side */
  width: calc(100%);
  /* Adjust as needed */
}

.book {
  
  
  /* 4 books = 25% each (adjust based on design) */
  display: flex;
  /* flex-direction: row; */
  flex-direction: column; /* Change to column for stacking */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F4F4FF;
  height: 350px;
  width: 300px;
  position: relative;
}

.book img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: 0 auto;
}

.wishlist-icon {
  position: absolute;
  /* Absolute positioning for top right corner */
  top: 10px;
  /* Adjust positioning as needed */
  right: 10px;
  /* Adjust positioning as needed */
  color: #ccc;
  /* Adjust color as needed */
  cursor: pointer;
  /* Indicate clickable icon */
}

.book-info {
  text-align: left;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  display: flex; /* Wrap elements horizontally */
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space out content vertically */
}

.book-info .price {
  font-weight: bold;
  color: #b12a1b;
  /* Set a different color for the price */
  /* Position the price at the bottom */
  
  /* Position the price at the bottom */
  bottom: 10px;
  /* Adjust positioning as needed */
  /* Position to the left edge of the book container */
  font-size: 18px;  /* Increase price font size */
  margin-top: 5px;  /* Add margin for separation */
  
}


.book-info h3 {
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.book-info p,
.book-info span {
  font-size: 13px;
  color: #333;
}

/* .book-buttons {
 font-weight: bold;
 color: #b12a1b; 
 position: absolute; 
 bottom: 10px; 
 left: calc(50% + 10px);
 
 width: calc(100% - 20px);
 font-size: 16px;
 } */


 .book-info button.add-to-cart {


  background-color: #e95241; /* Adjust button color */
  color: #fff; /* Adjust button text color */
  padding: 5px 10px; /* Adjust padding */
  border: none; /* Remove border for cleaner look */
  border-radius: 4px;
  cursor: pointer; /* Indicate clickable button */
  position: absolute;
  position: absolute;
  bottom: 10px;
  margin: auto;
}
/* 
.book-info .book-buttons {
  position: absolute;
  bottom: 10px;
} */