.bookstore {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  
  /* Adjust border color as needed */
}

.genre {
  background-color: #fff;
  border-radius: 4px;
  min-height: 300px;
  flex-direction: column;
  /* Stack elements vertically */
}


.genre>div:first-child {
  display: flex;
  justify-content: space-between;

}


.genre h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.genre a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  /* Removed margin-top for better positioning */
  margin-top: -5px;


}

.books-container {
  display: flex;
  gap: 30px;
  /* Adjust width to fit 4 books side-by-side */
  
  /* Adjust as needed */
  padding: 5px;
  
}

.book {
  
  
  /* 4 books = 25% each (adjust based on design) */
  display: flex;
  /* flex-direction: row; */
  flex-direction: column; /* Change to column for stacking */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F4F4FF;
  height: 350px;
  width: 285px;
  position: relative;
  
}

.bookstore .book:hover {
  transform: scale(1.02); /* Slightly enlarge the image on hover (optional) */
  transition: all 0.2s ease-in-out; /* Smooth transition effect */

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
  border-color: #cccccc; /* More prominent border color on hover */
}

.bookstore .book img:hover {
  cursor: pointer; /* Indicate clickable element */
}



.book img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: 0 auto;
}



.book-info {
  text-align: left;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  display: flex; /* Wrap elements horizontally */
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space out content vertically */
}

.button-container {  /* New styles for button container */
  display: flex;
  justify-content:space-between; /* Space buttons horizontally */
}


.book-info .price {
  font-weight: bold;
  color: #b12a1b;
  /* Set a different color for the price */
  /* Position the price at the bottom */
  
  /* Position the price at the bottom */
  bottom: 10px;
  /* Adjust positioning as needed */
  /* Position to the left edge of the book container */
  font-size: 18px;  /* Increase price font size */
  margin-top: 5px;  /* Add margin for separation */
  
}


.book-info h3 {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;  /* Hide excess content */
  text-overflow: ellipsis; /* Add ellipsis (...) */
  
  /* Adjust font size as needed to accommodate longer titles in two lines */
  font-size: 12.5px; /* Example adjustment */
  line-height: 1.2; /* Adjust line height for better two-line display */
  margin-bottom: 5px; /* Add some margin for separation */
}

.book-info p,
.book-info span {
  font-size: 13px;
  color: #333;
}

/* .book-buttons {
 font-weight: bold;
 color: #b12a1b; 
 position: absolute; 
 bottom: 10px; 
 left: calc(50% + 10px);
 
 width: calc(100% - 20px);
 font-size: 16px;
 } */


 .button-container button.add-to-cart {


  background-color: #e95241; /* Adjust button color */
  color: #fff; /* Adjust button text color */
  padding: 8px 75px; /* Adjust padding */
  border: none; /* Remove border for cleaner look */
  border-radius: 7px;
  cursor: pointer; /* Indicate clickable button */
  position: absolute;
  bottom: 10px;
  order: 1;
}

.button-container button.remove-from-cart {

  background-color: #555555; /* Remove-from-cart button color */
  color: #fff;
  padding: 8px 48px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  order: 1;
  white-space: nowrap;
  width: auto;
  min-width: 200px;
}

.bookstore .button-container button.add-to-cart:hover {
  background-color: #d74a38; /* Darker shade of the original background color */
}

.book-info .remove-from-cart:hover {
  background-color: #333333; /* Hover color for remove-from-cart button */
}

.button-container .wishlist-icon {
  position: absolute;
  /* Absolute positioning for top right corner */
  bottom: 15px;
  /* Adjust positioning as needed */

  /* Adjust positioning as needed */
  color: #ccc;
  /* Adjust color as needed */
  cursor: pointer;
  /* Indicate clickable icon */
  order: 2;
  z-index: 0;    
  right: 20px;
}

.bookstore .button-container .wishlist-icon:hover {
  color: #999; /* Change color on hover */
  transform: scale(1.1); /* Optional: Slightly enlarge the icon on hover */
  transition: all 0.2s ease-in-out; /* Smooth transition effect */
}



/* 
.book-info .book-buttons {
  position: absolute;
  bottom: 10px;
} */