.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 400px;
    overflow: hidden; /* Ensure overflow is hidden */
    border-radius: 0.5rem;
  }
  
  .carousel-wrapper {
    display: flex; /* Allow multiple images side-by-side */
    width: 100%;  /* Take up full width of container */
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    width: 100%; /* Each image takes up full width of carousel */
    height: 100%;
    object-fit: cover; /* Adjust image fitting as needed */
  }
  
  .carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-controls button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  